@import '../_variables';
#parallaxbox{
  height: 500px;
  .parallax-banner{
    display: flex;
    align-items: center;
    h1 span{
      position: relative;
      padding: 1rem;
      background: black;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 4.5rem;
      color: $primary;
      z-index: 10;
    }
  }
}

@media (max-width: 768px){
  #parallaxbox{
    height: 200px;
    .parallax-banner{
      h1 span{
        font-size: 1rem;
        line-height: 3.5rem;
      }
    }
  }
}