@import "../_variables.scss";


#rectangles{
  margin: 3rem auto;
  .rectangle-container{
    position: relative;
    padding: 0!important;
    width: 100vw;
    height: 25vh;
    .rectangle{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: skew(-15deg);
      width: 100vw;
      height: 25vh;
      h1{
        padding: 1rem;
        border: 4px solid $primary;
        font-size: 3rem;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0);
        -webkit-text-stroke: 2.5px $primary;   
        &.solid{
          border: 0;
          margin-bottom: 1rem;
        }
        &.transparent{
          color: transparent;
          -webkit-text-stroke: 2.5px transparent;
          margin: 0;
        }
      }
      @media (max-width: 768px){
        h1{
          font-size: 1.5rem;
          -webkit-text-stroke: 1.5px $primary;
          border: 2px solid $primary;
        }
      }
    }
  }  
}