@import '../_variables.scss';

#rectangles {
	.tagline {
		position: absolute;
		text-align: center;
		width: 100vw;
		font-size: 0.9rem;
		opacity: 0.5;
		text-transform: uppercase;
		font-weight: 500;
	}
	margin: 3rem auto;
	width: 100vw;
	overflow: hidden;
	.rectangle-container {
		position: relative;
		padding: 0 !important;
		width: 100vw;
		height: 35vh;
		.rectangle {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: skew(-15deg);
			width: 100vw;
			height: 35vh;
			h1 {
				padding: 1rem;
				border: 4px solid $primary;
				font-size: 3rem;
				font-weight: bold;
				color: rgba($color: #000000, $alpha: 0);
				-webkit-text-stroke: 2px $primary;
				&.solid {
					border: 0;
					margin-bottom: 1rem;
				}
				&.transparent {
					color: transparent;
					-webkit-text-stroke: 2.5px transparent;
					margin: 0;
				}
			}
			@media (max-width: 768px) {
				h1 {
					font-size: 1.4rem;
					-webkit-text-stroke: 1px $primary;
					border: 2px solid $primary;
				}
			}
		}
	}
}
