@import '../_variables';

.textblock {
	.iconsinline {
		display: flex;
		.icon {
			filter: invert(100%);
			transform: translateY(-50%);
			opacity: 0.75;
			width: 3rem;
			margin: 0;
			margin-left: 1rem;
		}
	}
	p {
		margin-top: 1rem;
	}
}

@media (max-width: 768px) {
	.textblock {
		margin-bottom: 2rem;
	}
}
