$primary: #e0e0e0;
$secondary: #d7d7d7;
$background: #000000;
$gradientBackground: radial-gradient(
		42.4% 38.38% at 76.25% 6.26%,
		rgba(226, 124, 156, 0.18) 0%,
		rgba(255, 255, 255, 0) 100%
	),
	radial-gradient(
		52.09% 52.09% at 31.94% 7.01%,
		rgba(95, 195, 228, 0.15) 0%,
		rgba(255, 255, 255, 0) 100%
	),
	#000000;
$gradientBackgroundBright: radial-gradient(
		42.4% 38.38% at 76.25% 6.26%,
		rgba(226, 124, 156, 0.18) 50%,
		rgba(133, 42, 42, 0.01) 200%
	),
	radial-gradient(
		52.09% 52.09% at 31.94% 7.01%,
		rgba(95, 195, 228, 0.15) 50%,
		rgba(255, 255, 255, 0.01) 200%
	),
	#000000;
$separators: #e6e6e6;
$sectionSeparator: #313131;
