@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import './_variables';

* {
  font-family: 'Poppins', sans-serif !important;
}
.container{
  
}

.padding-zero{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
html, body {
  color: $primary !important;
  background-color: #000000;
  letter-spacing: 0.02rem;
}

body{
  font-size: 0.9rem!important;
}

main {
  background: $gradientBackground;
  background-attachment: fixed;
}

ul {
  list-style: none;
  margin: 0;
}

h1{
  font-weight: 800;
}

p{
  line-height: 30px;
  color: $primary;
}

#imprint, #privacy {

  padding: 3rem 0;

  h2 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

#jobs {
  padding-top: 5rem;
  padding-bottom: 10rem;

  h1 {
    font-weight: 800;
    margin-bottom: 0;
    font-size: 3rem;
  }

  p {
    color: $secondary;
    font-weight: 600;
    font-size: .8rem;
  }

  h2 {
    margin: 1.5rem 0;
    font-weight: 700;
  }

  ul {
    margin-bottom: 1.5rem;

    li {
      font-size: 1rem;

      span {
        margin-left: 1rem;
      }
    }
  }

  a {
    font-weight: 800;
    font-size: 1rem;
  }
}

#imprint {
  padding-top: 5rem;
  .title{
    text-align: left;
  }
  h3 {
    margin-top: 5rem;
    font-weight: 800;
    font-size: 1.4rem;
  }
}
#privacy {
  .title{
    text-align: left;
  }
  h3 {
    font-weight: 800;
    font-size: 1.4rem;
  }
}


.title {
  text-align: center;

  h2, h1 {
    font-weight: 800;
    margin-bottom: 0;
    font-size: 2.8rem;
  }
  

  p, span {
    color: $secondary;
    font-weight: 600;
    font-size: .8rem;
  }

  margin-bottom: 4rem;
}

a {
  color: inherit !important;
  text-decoration: none !important;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

  &:hover {
    opacity: 0.5;
  }
  &:focus, &:visited{
    opacity: 1;
  }
}