#clients {
  padding-bottom: 4rem;
  .client-logo-container {
    padding-bottom: 2rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    .client-logo-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0;

      img {
        width: 40%;
        margin-bottom: 3.5rem;
      }

      //img:nth-of-type(odd){
      //  margin-right: 4.4rem;
      //}
    }
  }
}

@media screen and (max-width: 767px) {
  #clients {
    .client-logo-container {
      .client-logo-wrapper {
        img {
          width: 37%;
          margin-bottom: 2rem;
        }
        img:nth-of-type(odd){
          margin-left: 1rem;
        }
        img:nth-of-type(even){
          margin-right: 1rem;
        }
      }
    }
  }
}