@import "../_variables.scss";

.projects {
  padding: 4rem 0;

  .project-wrapper {
    border-radius: 5px;
    margin: 1rem 0;
    height: 200px;
    background-size: cover;
    background-position: right;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 12px 20px -9px rgba(0, 0, 0, 0.5);

    opacity: 1;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;

    

    .project-overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
    }

    &:hover .project-overlay {
      background: rgba(0, 0, 0, 0.7);
    }

    .details {
      color: $primary;
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 20px;
      font-size: 0.8rem;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;

      p{
        margin-bottom: 0;
        line-height: 16px;
      }

      h3 {
        font-weight: 800;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

    &:hover .details {
      transform: translate(-0.5rem, -0.5rem);
    }
  }
}

.modal {
  padding: 0 !important;
}
.modal-content{
  cursor: default!important;
}

.images-container {
  max-width: 560px;
  margin: auto;
  
  .portfolio-image {
    width: 100%;
    display: block;
    margin: 5rem auto;
  }

  .portfolio-image:nth-child(1){
    margin-top: 0;
  }
}

.modal-content {
  border: none;
  border-radius: 10px;
  padding: 3rem 4rem 0;
  width: auto;
  color: $primary;
  // background-color: #151515;
  background: radial-gradient(44.68% 44.68% at 50% 0%, #2F2F2F 0%, #111111 100%);
  box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.75);

  iframe{
    margin-bottom: 5rem;
  }

  .modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    color: $primary;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;

    &:hover {
      transform: rotateZ(90deg);
      opacity: 0.4;
    }
  }

  .modal-header {
    border: none;

    .modal-title {
      text-align: center;
      width: 100%;

      h3 {
        width: 100%;
        font-weight: 700;
        margin-bottom: 0;
      }

      p {
        color: $secondary;
        font-size: 0.8rem;
        margin-bottom: 2rem;
      }

    }
  }
}

.modal-dialog-centered {
  max-width: none;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .projects {
    padding: 1rem 0;

    .project-wrapper {
      height: 180px;
      margin:0 0 1rem;
    }
  }

  .modal-content {
    padding: 3rem 1rem .5rem;
    .modal-header{
      .modal-title{
        p{
          margin-bottom: 1rem;
        }
      }
    }

    .modal-body{
      padding-bottom: 0rem;
    }

    .modal-close {
      top: .5rem;
      right: .5rem;
      font-size: 2rem;
    }

    iframe {
      width: 300px;
      height: 200px;
      margin-bottom: 5rem;
    }

    .igembed{
      width: 300px;
      height: 450px;
    }
  }
}