@import '../_variables';

#services {
  text-align: center;
  padding: 4rem 0;

  li {
    margin: 0;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .services-with-icons {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .service-title {
      margin-bottom: 0;

      h2 {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }

      svg {
        font-size: 34px;
        margin-right: .3rem;
        display: inline-block;
        vertical-align: middle;
      }

      &:before, &:after {
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 23%;
      }

      &:before {
        right: 1rem;
        margin-left: -50%;
      }

      &:after {
        left: 1rem;
        margin-right: -50%;
      }
    }

    div {
      margin-bottom: 5rem;
    }

    ul {
      margin-top: 1rem;
    }

    h2 {
      overflow: hidden;
      text-align: center;

      svg {
        font-size: 34px;
        margin-right: .3rem;
        display: inline-block;
      }

      &:before, &:after {
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }

      &:before {
        right: 1rem;
        margin-left: -50%;
      }

      &:after {
        left: 1rem;
        margin-right: -50%;
      }
    }
  }

  .service-container {
    margin-bottom: 6rem;

    .row {
      border: 1px solid $sectionSeparator;
      border-radius: 10px;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .service {
      padding: 0 2rem;
      text-align: left;

      h3 {
        font-weight: 700;
        font-size: 1.4rem !important;
      }

      p {
        margin: 0;
      }
    }

    h2 {
      width: 100%;
      font-weight: 800;
      margin-bottom: 5rem;
      font-size: 2rem !important;
    }
  }

  .banner {
    color: #fff;
    padding: 4rem 0;
    border-top: 1px solid $sectionSeparator;
    border-bottom: 1px solid $sectionSeparator;

    h2 {
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 767px) {
  #services {
    .service-container {
      padding: 0 1rem;
      .budget {
        padding-bottom: 2.5rem;
      }

      .col-md-6 {
        border-right: none !important;

        p {
          padding-bottom: 2.5rem;
          border-bottom: 1px solid $sectionSeparator;
        }
      }

      .col-md-6:nth-last-child(1) {
        p {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}