#values {
	padding: 5rem 0;

	h2 {
		font-size: 2.8rem !important;
	}

	.value {
		text-align: center;
		margin-bottom: 5rem;

		p {
			max-width: 300px;
			margin: auto;
		}

		h3 {
			font-weight: 800;
			font-size: 1.4rem;
		}

		.icon {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}
